body {
    background-color: royalblue;
}


img {
    border-radius: 50%;
    width: 50%;
    height: 25%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    display: block;
    margin-left: 25%;
    margin-right: 25%;

}

#header {
    background-color: aliceblue;
    text-align: center;
    border-width: 2px;
    border-style: solid;
}
#list {
    border-width: 1px;
    border-style: solid;
    border-color: aliceblue;
    padding: 15px;
    margin-left: 35%;
}
#navlinks {
    position: fixed;
    font-size:large
}
#footer {
    background-color:aliceblue;
    text-align:center
}